:root {
    /* Colors */
    --textcolors-darktext: #001a72;
    --textcolors-description: #2d4186;
    --textcolors-additional: #506195;
    --textcolors-additionallight: #acb5d2;
    --textcolors-light: #dbe0f0;
    --textcolors-white: #ffffff;
    --colors-seablue-100: #1f7193;
    --colors-seablue-80: #46add8;
    --colors-seablue-60: #87cce8;
    --colors-seablue-40: #bfe7f8;
    --colors-seablue-20: #f1fafe;
    --colors-darkblue-100: #001a72;
    --colors-darkblue-80: #3f57a6;
    --colors-darkblue-60: #7089db;
    --colors-darkblue-40: #bfccf8;
    --colors-darkblue-20: #f5f7fe;
    --colors-violet-100: #4339ac;
    --colors-violet-80: #675af1;
    --colors-violet-60: #a69efa;
    --colors-violet-40: #d2cffd;
    --colors-violet-20: #f6f5ff;
    --colors-pink-100: #ac3973;
    --colors-pink-80: #e467a6;
    --colors-pink-60: #fa9ecc;
    --colors-pink-40: #fdcfe5;
    --colors-pink-20: #fff5fa;
    --colors-green-100: #206055;
    --colors-green-80: #339988;
    --colors-green-60: #61d1bb;
    --colors-green-40: #b0e8dd;
    --colors-green-20: #f3fcfa;
    --colors-yellow-100: #606619;
    --colors-yellow-80: #a2ad1f;
    --colors-yellow-60: #deee2b;
    --colors-yellow-40: #ebf391;
    --colors-yellow-20: #fcfded;
    --additionalcolors-grey-140: #151a28;
    --additionalcolors-grey-120: #2f354c;
    --additionalcolors-grey-100: #515970;
    --additionalcolors-grey-80: #70778f;
    --additionalcolors-grey-60: #b2b9cc;
    --additionalcolors-grey-40: #d9dde8;
    --additionalcolors-grey-30: #ebeef5;
    --additionalcolors-grey-20: #f8f9fb;
    --additionalcolors-grey-black: #090a0b;
    --additionalcolors-grey-white: #ffffff;
    --additionalcolors-red-red-100: #981b1b;
    --additionalcolors-red-red-80: #c32222;
    --additionalcolors-red-red-60: #e46767;
    --additionalcolors-red-red-40: #fbb6b6;
    --additionalcolors-red-red-20: #fef5f5;

    /* Fonts */
    --custom-video-label: 500 14px/18px 'Aktiv Grotesk', sans-serif;
    --custom-chat-regular: 400 14px/150% 'Aktiv Grotesk', sans-serif;
    --custom-chat-semibold: 600 14px/150% 'Aktiv Grotesk', sans-serif;
    --custom-chat-title: 600 16px/24px 'Aktiv Grotesk', sans-serif;
    --m-headlines-h-1: 500 68px/76px 'Roc Grotesk', sans-serif;
    --m-headlines-h-2: 500 48px/54px 'Roc Grotesk', sans-serif;
    --m-headlines-h-3: 500 36px/48px 'Roc Grotesk', sans-serif;
    --m-headlines-h-4: 500 24px/36px 'Roc Grotesk', sans-serif;
    --m-headlines-h-5: 500 18px/28px 'Roc Grotesk', sans-serif;
    --m-text-bodybig: 400 20px/36px 'Aktiv Grotesk', sans-serif;
    --m-text-bodysmall: 400 16px/28px 'Aktiv Grotesk', sans-serif;
    --m-text-caption: 600 18px/24px 'Aktiv Grotesk', sans-serif;
    --m-text-captionsmall: 600 16px/24px 'Aktiv Grotesk', sans-serif;
    --m-text-button: 600 18px/24px 'Aktiv Grotesk', sans-serif;
    --m-text-label: 400 12px/16px 'Aktiv Grotesk', sans-serif;
    --m-text-label-medium: 500 12px/16px 'Aktiv Grotesk', sans-serif;
    --m-text-bodysmall-medium: 500 16px/28px 'Aktiv Grotesk', sans-serif;
    --m-text-link-bodybig: 500 20px/36px 'Aktiv Grotesk', sans-serif;
    --s-headlines-h-1: 500 42px/48px 'Roc Grotesk', sans-serif;
    --s-headlines-h-2: 500 36px/42px 'Roc Grotesk', sans-serif;
    --s-headlines-h-3: 500 24px/32px 'Roc Grotesk', sans-serif;
    --s-headlines-h-4: 500 20px/28px 'Roc Grotesk', sans-serif;
    --s-headlines-h-5: 500 18px/28px 'Roc Grotesk', sans-serif;
    --s-text-bodybig: 400 18px/32px 'Aktiv Grotesk', sans-serif;
    --s-text-bodysmall: 400 16px/28px 'Aktiv Grotesk', sans-serif;
    --s-text-bodysmall-medium: 500 16px/28px 'Aktiv Grotesk', sans-serif;
    --s-text-caption: 600 18px/24px 'Aktiv Grotesk', sans-serif;
    --s-text-captionsmall: 600 14px/16px 'Aktiv Grotesk', sans-serif;
    --s-text-button: 600 18px/24px 'Aktiv Grotesk', sans-serif;
    --s-text-label: 400 12px/16px 'Aktiv Grotesk', sans-serif;
    --s-text-link-bodybig: 500 18px/32px 'Aktiv Grotesk', sans-serif;

    /* Effects */
    --shadowcenter-box-shadow: 0px 8px 24px 0px rgba(112, 119, 143, 0.15);
    --shadowbottom-box-shadow: 0px 8px 24px 0px rgba(112, 119, 143, 0.15);
    --shadowtop-box-shadow: 0px -8px 24px 0px rgba(112, 119, 143, 0.15);
}
